<ul>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Programação<span> + </span></a>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </li>
    <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Bombonière<span> + </span></a>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </li>
    <li><a href="/">Club Moovs</a></li>   
    <li><a href="/">Comprar Ingresso</a></li>   
</ul>